/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 92%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222222;
}

@media (max-width: 1600px) {
  .header {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}

.header__wrapper {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper-nav {
  position: relative;
}

.header__search {
  fill: #E8E8E8;
}

.header__search:hover {
  fill: #F16D7D;
}

.header__search:active {
  fill: #E8E8E8;
}

.header__logo {
  margin: 0 41px 0 0;
  fill: url(#pattern0);
}

.header__logo:hover {
  opacity: 0.5;
}

.header__button {
  border: none;
  background-color: transparent;
  fill: #E8E8E8;
  height: 75px;
  outline: none;
  padding-bottom: 0;
}

.header__button:hover .header__button-svg {
  fill: #F16D7D;
}

.header__button:hover + .navigation {
  display: block;
}

.header__link {
  margin: 0 0 0 34px;
  fill: #E8E8E8;
}

.header__link:hover {
  fill: #F16D7D;
}

.header__link:active {
  fill: #E8E8E8;
}

@media (max-width: 1600px) {
  .header__link {
    margin: 0 0 0 25px;
  }
}

@media (max-width: 768px) {
  .header__link {
    display: none;
  }
}

.navigation {
  display: none;
  position: absolute;
  left: 0px;
  width: 100%;
  height: max-content;
  background-color: white;
  padding: 0 0 0 34px;
  z-index: 1;
}

@media (max-width: 768px) {
  .navigation {
    left: -232px;
    width: 232px;
  }
}

.navigation:hover {
  display: block;
}

.navigation__box {
  height: 37px;
  width: 100%;
  position: relative;
}

.navigation__box-button {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: transparent;
  border: none;
  outline: none;
}

.navigation__box-button-svg {
  fill: #6F6E6E;
}

.navigation__box-button-svg:hover {
  fill: #F16D7D;
}

.navigation__box-button:active + .navigation, .navigation__box-button:focus + .navigation {
  display: none;
}

.navigation__tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

.navigation__item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin: 9px 0 12px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__item-link:hover {
  color: black;
}

.navigation__item-link:active {
  color: #F16D7F;
}

.navigation-item__sub-item {
  margin: 0 0 11px 20px;
}

.navigation-item__sub-item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}

.navigation-item__sub-item-link:hover {
  color: #F16D7F;
}

.navigation-item__sub-item-link:active {
  color: #6F6E6E;
}

.promo {
  display: flex;
  margin: 0 0 63px;
}

@media (max-width: 1600px) {
  .promo {
    margin: 0 0 20px;
  }
}

.promo__img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .promo__img {
    display: none;
  }
}

.promo__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: black;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 1600px) {
  .promo__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 52px;
    color: black;
  }
}

@media (max-width: 768px) {
  .promo__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: black;
  }
}

.promo__heading-wrapper {
  background-color: #F1E4E6;
  flex-grow: 1;
  align-items: center;
  display: flex;
  padding: 0 0 0 92px;
}

@media (max-width: 1600px) {
  .promo__heading-wrapper {
    padding: 0 0 0 9%;
  }
}

@media (max-width: 768px) {
  .promo__heading-wrapper {
    min-height: 363px;
    padding: 0 0 0 22%;
  }
}

.promo__heading:before {
  content: '';
  width: 12px;
  height: 100%;
  background: #F16D7F;
  position: absolute;
  left: -28px;
}

.promo__sub-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: black;
  display: block;
}

@media (max-width: 1600px) {
  .promo__sub-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: black;
  }
}

@media (max-width: 768px) {
  .promo__sub-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: black;
  }
}

.promo__sub-heading-pink {
  color: #F16D7D;
}

.categories {
  margin: 0 auto 67px;
}

@media (max-width: 1600px) {
  .categories {
    margin: 0 auto 135px;
  }
}

@media (max-width: 768px) {
  .categories {
    margin: 0 auto 32px;
  }
}

.categories__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item {
  width: 360px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px;
  background-size: cover;
}

@media (max-width: 1600px) {
  .categories__item {
    width: 32%;
    min-height: 168px;
    margin: 0 0 20px;
  }
}

@media (max-width: 768px) {
  .categories__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px;
  }
}

.categories__item--woman {
  background-image: url(../img/categories-woman.jpg);
}

.categories__item--man {
  background-image: url(../img/categories-man.jpg);
}

.categories__item--kids {
  background-image: url(../img/categories-kids.jpg);
}

.categories__item--accessories {
  background-image: url(../img/categories-accesories.jpg);
  width: 100%;
  min-height: 180px;
}

@media (max-width: 1600px) {
  .categories__item--accessories {
    min-height: 116px;
  }
}

@media (max-width: 768px) {
  .categories__item--accessories {
    min-height: 111px;
  }
}

.categories__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  text-align: center;
  text-transform: uppercase;
}

.categories__item-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7D;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 0 0 6px 0;
}

.products__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 0 0 48px 0;
}

.products__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.products__item {
  width: 360px;
  background-color: #F8F8F8;
  margin: 0 16px 30px 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .products__item {
    margin: 0 16px 16px 0;
  }
}

@media (max-width: 768px) {
  .products__item {
    margin: 0 0 16px;
  }
}

.products__item-box {
  position: relative;
}

.products__item-overlay {
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}

.products__item:hover .products__item-overlay {
  display: block;
}

.products__item:hover .products__item-button {
  display: block;
}

.products__item-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: black;
  margin: 25px 0 13px 18px;
  text-transform: uppercase;
}

.products__item-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0 18px 18px 18px;
}

.products__item-price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 0 0 18px 18px;
}

.products__item-button {
  width: 140px;
  height: 43px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 14px 13px 13px 50px;
}

.products__item-button-box-svg {
  position: relative;
}

.products__item-button-svg {
  position: absolute;
  top: -5px;
  left: -40px;
}

.products__button {
  padding: 14px 39px;
  border: 1px solid #FF6A6A;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FF6A6A;
  margin: 19px 0 95px 0;
  background-color: white;
}

@media (max-width: 1600px) {
  .products__button {
    margin: 19px 0 65px 0;
  }
}

@media (max-width: 768px) {
  .products__button {
    margin: 25px 0 110px 0;
  }
}

.products__button:hover {
  background-color: #F16D7F;
  color: white;
}

.products__button:active {
  border: 1px solid #FF6A6A;
  background-color: white;
  color: #FF6A6A;
  outline-width: 0px;
}

.advantages {
  background-color: #222222;
}

.advantages__list {
  min-height: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1600px) {
  .advantages__list {
    flex-direction: column;
    padding: 0 0 64px;
  }
}

.advantages__item {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0 0 0;
}

.advantages__item-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 28px 0 16px 0;
}

.advantages__item-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

.advantages__img {
  fill: #F16D7F;
}

.review {
  background-image: url(../img/review-back.jpg);
  background-size: cover;
}

.review .review--container {
  min-height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1600px) {
  .review .review--container {
    flex-direction: column;
    padding: 64px 0 219px;
  }
}

@media (max-width: 768px) {
  .review .review--container {
    padding: 65px 0 110px;
  }
}

.review .review--container .review__item {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review .review--container .review__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
  margin-top: 30px;
}

.review .subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review .subscribe__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
  max-width: 557px;
  text-align: center;
}

.review .subscribe__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #222224;
  text-align: center;
  margin: 0 0 32px;
}

@media (max-width: 1600px) {
  .review .subscribe__text {
    margin: 0 0 27px;
  }
}

@media (max-width: 768px) {
  .review .subscribe__text {
    margin: 0 0 22px;
  }
}

.review .subscribe__form {
  max-width: 307px;
  height: 49px;
  border-radius: 26px;
  background: #E1E1E1;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.review .subscribe__form input {
  width: 307px;
  height: 46px;
  border-radius: 26px;
  background: #E1E1E1;
  margin-left: 0px;
  border-style: none;
  background-color: #E1E1E1;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  padding: 0 100px 0 22px;
}

.review .subscribe__form input:hover, .review .subscribe__form input:focus {
  border: 1px solid #FF6A6A;
  outline-width: 0px;
}

.review .subscribe__form-button {
  height: 49px;
  width: 100px;
  background: #F16D7F;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  border-style: none;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  right: 0;
}

.review .subscribe__form-button:hover {
  background: #E05C6E;
}

.review .subscribe__form-button:active {
  background: #F16D7F;
}

.footer {
  background-color: #222224;
}

.footer-container {
  min-height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 43px 0 9px;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.footer__link-svg {
  fill: white;
}

.footer__link-svg:hover {
  fill: #F16D7F;
}

.footer__link-svg:active {
  fill: white;
}

.tittle {
  background: #F8F3F4;
  min-height: 148px;
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.tittle__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration {
  display: flex;
  justify-content: space-between;
}

.registration legend {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  margin-top: 20px;
  padding-left: 17px;
}

.registration__input:hover, .registration__input:focus {
  border: 1px solid #FF6A6A;
  outline-width: 0px;
}

.registration__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__input:-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .gender-radio {
  margin: 33px 0 33px 0;
}

.registration .gender-radio [type="radio"] {
  display: none;
}

.registration .gender-radio [type="radio"]:checked + .label:after {
  background: black;
}

.registration .gender-radio .label {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: black;
  margin: 0 47px 0 0;
  position: relative;
}

.registration .gender-radio .label-male {
  margin-left: 27px;
}

.registration .gender-radio .label:after {
  content: '';
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  position: absolute;
  left: -27px;
}

.registration .password-text {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 360px;
  margin: 15px 0 39px 0;
}

.registration__submit {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background-color: #F16D7F;
  border-style: none;
  width: 167px;
  height: 50px;
  padding: 16px 66px 16px 29px;
  margin-bottom: 96px;
  position: relative;
}

.registration__submit:hover {
  background-color: white;
  color: #FF6A6A;
  border: 1px solid #F16D7F;
}

.registration__submit:hover .registration__submit-svg {
  fill: #F16D7F;
}

.registration__submit:active {
  background-color: #F16D7F;
  color: white;
  outline-width: 0px;
}

.registration__submit-svg {
  position: absolute;
  right: 29px;
  top: 20px;
  fill: white;
}

.registration__privilege,
.registration .privilege {
  width: 652px;
}

.registration__privilege__heading,
.registration .privilege__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.registration__privilege__text,
.registration .privilege__text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin-bottom: 22px;
}

.registration__privilege__item,
.registration .privilege__item {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin-bottom: 16px;
  margin-left: 43px;
  position: relative;
}

.registration__privilege__item:before,
.registration .privilege__item:before {
  content: '';
  width: 20px;
  height: 16px;
  background-image: url("../img/ok.svg");
  position: absolute;
  left: -43px;
  top: 6px;
}
/*# sourceMappingURL=style.css.map */