@mixin font($color: white, $weight: normal, $size: 14px, $height: 17px, $style: normal) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
  }

@mixin tablet {
  @media (max-width: $desktop-width) {
      @content;
  }
}

@mixin mobile {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin prefix($function1, $function2) {
    -moz-transition: $function2;
    -webkit-transition: $function2;
    -o-transition: $function2;
    -ms-transition: $function2;
    transition: $function2;
}

@mixin transition ($time: 500ms,$delay: 0ms) {
    -moz-transition: all $time $delay;
    -webkit-transition: all $time $delay;
    -o-transition: all $time $delay;
    -ms-transition: all $time $delay;
    transition: all $time $delay;
}