.advantages {
    background-color: $dark-blue;

    &__list {
        min-height: 340px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__item {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-heading {
            @include font(#FBFBFB,normal,19px,24px);
            margin: 28px 0 16px 0;
        }
        
        &-text {
            @include font(#FBFBFB,300,14px,17px);
            text-align: center;
        }
    }

    &__img {
        fill: #F16D7F
    }
}

