.footer {
    background-color: #222224;

    &-container {
        min-height: 79px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            padding: 43px 0 9px;
            flex-direction: column;
            flex-direction: column-reverse;
        }
    }
    
    &__text {
        @include font(white,normal,16px,19px);
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__link {
        margin: 0 7px 0 0;

        &-svg {
            fill: white;
            @include transition;

            &:hover {
                fill: #F16D7F;
            }

            &:active {
                fill: white;
            }
        }
    }
}

