.header {
    position: relative;
    background-color: $dark-blue;
    z-index: 3;
    @include tablet {
        padding: 0 16px;
    }

    @include mobile {
        padding: 0;
    }

    &__wrapper {
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-nav {
            position: relative;
            display: flex;
            align-items: center;
        }
    }

    &__search {
        fill: #E8E8E8;

        @include transition();

        &:hover {
            fill: $dark-pink;
        }

        &:active {
            fill: #E8E8E8;
        }
    }
    
    &__logo {
        margin: 0 41px 0 0;
        fill: url(#pattern0);
        @include transition();

        &:hover {
            opacity: 0.5;
        }
    }
    
    &__button {
        border: none;
        background-color: transparent;
        height: 75px;
        outline: none;
        padding-bottom: 0;

        &-svg {
            fill: #E8E8E8;
            @include transition();
        }

        &:hover {
            
            .header__button-svg {
                fill: $dark-pink;
            }

            +.navigation {
                display: block;
            }
        }
    }
    
    &__link {
        margin: 0 0 0 34px;
        fill: #E8E8E8;
        @include transition();

        &:hover{
            fill: $dark-pink; 
        }

        &:active {
            fill: #E8E8E8;
        }   

        @include tablet {
            margin: 0 0 0 25px;
        }

        @include mobile{
            display: none;   
        } 
    }
}