.header {
    background-color: $dark-blue;

    &__wrapper {
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-nav {
            position: relative;
        }
    }

    &__search {
        fill: #E8E8E8;

        &:hover {
            fill: $dark-pink;
        }

        &:active {
            fill: #E8E8E8;
        }
    }
    
    &__logo {
        margin: 0 41px 0 0;
        fill: url(#pattern0);

        &:hover {
            opacity: 0.5;
        }
    }
    
    &__button {
        border: none;
        background-color: transparent;
        fill: #E8E8E8;
        height: 75px;
        outline: none;
        padding-bottom: 0;

        &:hover {
            .header__button-svg {
                fill: $dark-pink;
            }

            +.navigation {
                display: block;
            }
        }
    }
    
    &__link {
        margin: 0 0 0 34px;
        fill: #E8E8E8;

        &:hover{
            fill: $dark-pink; 
        }

        &:active {
            fill: #E8E8E8;
        }
    }
}