.navigation {
    display: none;
    position: absolute;
    left: 0px;
    width: 100%;
    height: max-content;
    background-color: white;
    padding: 0 0 0 34px;
    z-index: 1;

    @include mobile {
        left: -232px;
        width: 232px;
    }

    &:hover {
            display: block;
     }

    &__box {
        height: 37px;
        width: 100%;
        position: relative;

        &-button {
            position: absolute;
            right: 16px;
            top: 16px;
            background-color: transparent;
            border: none;
            outline: none;
            &-svg {
                fill: #6F6E6E;

                &:hover {
                        fill: $dark-pink;
                }
            }
            

            &:active,
            &:focus {
                +.navigation {
                    display: none;
                }
            }
        }
    }

    &__tittle {
        @include font(#000000,bold);
        margin: 0 0 15px 0;
        text-transform: uppercase;

        
    }

    &__item-link {
        @include font($pink);
        margin: 9px 0 12px 0;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: black;
        }

        &:active {
            color: $pink;
        }
    }

    &-item__sub-item {
        margin: 0 0 11px 20px;
    }

    &-item__sub-item-link {
        @include font(#6F6E6E);
        text-decoration: none;

        &:hover {
            color: $pink;
        }

        &:active {
            color: #6F6E6E;
        }
    }
}