.promo {
    display: flex;
    margin: 0 0 63px;
    
    &__heading {
        @include font(black,900,48px,58px);
        text-transform: uppercase;
        position: relative;

        &-wrapper {
            background-color: pink;
            flex-grow: 1;
            align-items: center;
            display: flex;
            padding: 0 0 0 92px;
        }

        &:before {
            content: '';
            width: 12px;
            height: 98px;
            background: #F16D7F;
            position: absolute;
            left: -28px;
          }
    }
    
    &__sub-heading {
        @include font(black,700,32px,38px);
        display: block;

        &-pink {
            color: $dark-pink;
        }
    }
}

