.review {
    background-image: url(../img/review-back.jpg);
    background-size: cover;

    .review--container{
        min-height: 448px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            flex-direction: column;
            padding: 64px 0 219px;
        }

        @include mobile {
            padding: 65px 0 110px;
        }

        .review__item {
            max-width: 360px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .review__text {
            @include font(#222224,400,20px,24px);
            text-align: center;
            margin-top: 30px;
        }
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading {
            @include font(#222224,bold,24px,167.2%);
            max-width: 557px;
            text-align: center;
        }
        
        &__text {
            @include font(#222224,400,14px,21px);
            text-align: center;
            margin:0 0 32px;

            @include tablet {
                margin:0 0 27px;
            }

            @include mobile {
                margin:0 0 22px;
            }
        }
        
        &__form {
            max-width: 307px;
            height: 49px;
            border-radius: 26px;
            background: #E1E1E1;
            border-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            input {
                width: 307px;
                height: 46px;
                border-radius: 26px;
                background: #E1E1E1;
                margin-left: 0px;
                border-style: none;
                background-color: #E1E1E1;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                color: #222224;
                opacity: 0.67;
                padding: 0 100px 0 22px;
                
                &:hover,
                &:focus {
                    border: 1px solid #FF6A6A;
                    outline-width: 0px;
                }
            }
            
            &-button {
                height: 49px;
                width: 100px;
                background: #F16D7F;
                border-top-right-radius: 26px;
                border-bottom-right-radius: 26px;
                border-style: none;
                font-size: 14px;
                line-height: 17px;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                position: absolute;
                right: 0;
                

                &:hover {
                    background: #E05C6E;
                }

                &:active {
                    background: #F16D7F;
                }
            }
        }
    }
}